.App {
  max-width: 400px;
}

.App-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.App button {
  font-size: 1rem;
  vertical-align: middle;
}
