.TodoList {}

.TodoItem {
  padding: 20px;
}

.TodoItem-input {
  width: 100px;
  display: inline-block;
}

.TodoItem-title {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
